[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
tensorflow = "*"
kagglehub = "*"
keras-image-helper = "*"

[dev-packages]
seaborn = "*"
jupyter = "*"

[requires]
python_version = "3.12"
