[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
tensorflow = "*"
kagglehub = "*"
keras-image-helper = "*"
ai-edge-litert = "*"
numpy = "==1.26.4"

[dev-packages]
seaborn = "*"
jupyter = "*"

[requires]
python_version = "3.9"
