[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
kagglehub = "*"
keras-image-helper = "*"
numpy = "1.26.4"
tflite-runtime = "==2.7.0"
tensorflow = "==2.7.0"
protobuf = "==3.20.3"

[dev-packages]
seaborn = "*"
jupyter = "*"

[requires]
python_version = "3.9"
